.tile {
  width: fit-content;
  height: fit-content;
  // padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  font-family: Poppins;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 6px;
  align-items: center;
  border: 1px solid #0000001c;
  inset: 0px;

  border-radius: 0.5rem;
  transition: box-shadow 150ms;
  &:hover {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.15);
  }
}

.name {
  color: #000000;
  font-weight: 500;
  padding: 0.5rem 0;
  // line-height: 1.25;
}

.imageContainer {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-basis: 40%;
}
.image {
  width: 100%; /* Scales to container width */
  max-width: 300px; /* Caps width at 300px */
  max-height: 300px;
  min-height: 120px;
  height: 100%; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures image fills container without stretching */
  aspect-ratio: 1 / 1;
}
