.products {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  max-width: 1314px;
  margin: auto;
}

.header {
  padding: 0 1rem;
  max-width: 1314px;
  font-family: Poppins;
  font-weight: 600;
  margin: 1rem auto;
}

/* Large screens: 4 columns */
@media screen and (min-width: 840px) {
  .products {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    font-size: 20px;
  }
}
/* Medium screens: 3 columns */
@media screen and (max-width: 839px) and (min-width: 500px) {
  .products {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Small screens: 2 columns */
@media screen and (max-width: 499px) {
  .products {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    font-size: 17px;
  }
}