.navHolder {
  position: fixed;
  background-color: #fff;
  width: -webkit-fill-available;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  flex-wrap: wrap;
  transition: height 0.5s, opacity 0.5s;
  z-index: 999;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.items {
  display: flex;

  justify-content: space-between;
  // background-color: aqua;
  background-color: inherit;
  transition: opacity 0.2s;
  height: 65px;
}

.item {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 12pt;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: space-between;
  transition: transform 0.2s, color 0.2s;
  padding: 1.25rem;
  cursor: pointer;

  &.logo {
    padding: 12.5px;
    // padding: 7.5px 15px;
  }
  &:hover {
    color: #a60303;
    .arrow {
      border-color: #a60303;
    }
  }
}
.itemDropDown {
  background-color: inherit;
  height: 65px;
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  overflow: clip;
  transition: height 0.25s;
  user-select: none;
  &.active {
    overflow-clip-margin: 3px;
    /* Allow content (including shadow) to extend 10px beyond the padding box */
  }
  .item {
    width: -webkit-fill-available;
  }
  .items {
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    flex-direction: column;
    height: auto;
  }
}
.arrowContainer {
  display: inline-block;
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: transform 0.25s, border-color 0.2s;
  }
  &.active .arrow:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.bars {
  display: none;
  cursor: pointer;
  padding: 13px 15px;
  .bar {
    display: block;
    margin: 6px 0;
    background-color: #000;
    border-radius: 5px;
    transition: background-color 0.2s, opacity 0.5s, transform 0.5s;
    width: 35px;
    height: 5px;
  }
  &.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .navHolder.active {
    .items {
      transform: translate(-360px);
    }
    .itemDropDown {
      .items {
        transform: translatex(0);
      }
    }
  }
  .navHolder .items {
    height: calc(100vh - 65px);
    padding: 0;
    flex-direction: column;
    width: 360px;
    right: -360px;
    justify-content: flex-start;
    align-items: stretch;
    transition: transform 0.5s, opacity 0s;
    position: absolute;
    top: 65px;
    border-top: 1px solid #e5e5e5;
    overflow-y: auto;
    overflow-x: hidden;
    .item {
      position: relative;
      width: -webkit-fill-available;
      box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    }
  }
  .bars {
    display: block;
    transition: 0.5s;
  }
  .itemDropDown {
    overflow-clip-margin: 3px;
    .items {
      right: 0;
      position: relative;
      top: 0;
      box-shadow: none;
      overflow-y: clip;
      .item {
        padding-left: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 359px) {
  .navHolder.active {
    .items {
      transform: translate(-100%);
    }
  }
  .navHolder .items {
    width: 100%;
    right: -100%;
  }

  .itemDropDown {
    overflow-clip-margin: 3px;
    .items {
      right: 0;
      position: relative;
      top: 0;
      box-shadow: none;
      .item {
        padding-left: 2.5rem;
      }
    }
  }
}
