.navHolder {
  position: fixed;
  background-color: #fff;
  width: -webkit-fill-available;
  height: 65px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  flex-wrap: wrap;
  transition: height 0.5s, opacity 0.5s;
  z-index: 999;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: aqua;
  background-color: inherit;
  transition: opacity 0.2s;
  .item {
    padding: 20px;
  }
}

.item {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 12pt;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s, color 0.2s;
  &.logo {
    padding: 12.5px;

    // padding: 7.5px 15px;
  }
  &:hover {
    color: #d35400;
  }
}

.bars {
  display: none;
  cursor: pointer;
  padding: 13px 15px;
  .bar {
    display: block;
    margin: 6px 0;
    background-color: #000;
    border-radius: 5px;
    transition: background-color 0.2s, opacity 0.5s, transform 0.5s;
    width: 35px;
    height: 5px;
  }
  &.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }

  &.active .bar:nth-child(2) {
    opacity: 0;
  }

  &.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
  }
}
.bars:hover {
  .bar {
    background-color: #d68e54;
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 598px) {
  .navHolder.active {
    .items {
      transform: translate(-100%);
    }
  }
  .items {
    height: calc(100vh - 65px);
    padding: 0;
    flex-direction: column;
    width: 50%;
    right: -50%;
    justify-content: flex-start;
    align-items: stretch;
    transition: transform 0.5s, opacity 0s;
    position: absolute;
    top: 65px;
  }
  .bars {
    display: block;
    transition: 0.5s;
  }
}
