.navHolder {
  position: fixed;
  background-color: #fff;
  width: -webkit-fill-available;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: height 0.5s, opacity 0.5s;
  transition: height 0.5s, opacity 0.5s;
  z-index: 999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  height: 65px;
}

.item {
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 12pt;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: color 0.2s, -webkit-transform 0.2s;
  transition: color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s, -webkit-transform 0.2s;
  padding: 1.25rem;
  cursor: pointer;
}
.item.logo {
  padding: 12.5px;
}
.item:hover {
  color: #a60303;
}
.item:hover .arrow {
  border-color: #a60303;
}

.itemDropDown {
  background-color: inherit;
  height: 65px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  overflow: clip;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.itemDropDown.active {
  overflow-clip-margin: 3px;
  /* Allow content (including shadow) to extend 10px beyond the padding box */
}
.itemDropDown .item {
  width: -webkit-fill-available;
}
.itemDropDown .items {
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
          box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.arrowContainer {
  display: inline-block;
}
.arrowContainer .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s, -webkit-transform 0.25s;
  transition: border-color 0.2s, -webkit-transform 0.25s;
  transition: transform 0.25s, border-color 0.2s;
  transition: transform 0.25s, border-color 0.2s, -webkit-transform 0.25s;
}
.arrowContainer.active .arrow:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bars {
  display: none;
  cursor: pointer;
  padding: 13px 15px;
}
.bars .bar {
  display: block;
  margin: 6px 0;
  background-color: #000;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s, opacity 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.2s, opacity 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.2s, opacity 0.5s, transform 0.5s;
  transition: background-color 0.2s, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  width: 35px;
  height: 5px;
}
.bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}
.bars.active .bar:nth-child(2) {
  opacity: 0;
}
.bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .navHolder.active .items {
    -webkit-transform: translate(-360px);
            transform: translate(-360px);
  }
  .navHolder.active .itemDropDown .items {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  .navHolder .items {
    height: calc(100vh - 65px);
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    right: -360px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-transition: opacity 0s, -webkit-transform 0.5s;
    transition: opacity 0s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0s;
    transition: transform 0.5s, opacity 0s, -webkit-transform 0.5s;
    position: absolute;
    top: 65px;
    border-top: 1px solid #e5e5e5;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .navHolder .items .item {
    position: relative;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
            box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  }
  .bars {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .itemDropDown {
    overflow-clip-margin: 3px;
  }
  .itemDropDown .items {
    right: 0;
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow-y: clip;
  }
  .itemDropDown .items .item {
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 359px) {
  .navHolder.active .items {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .navHolder .items {
    width: 100%;
    right: -100%;
  }
  .itemDropDown {
    overflow-clip-margin: 3px;
  }
  .itemDropDown .items {
    right: 0;
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}