.products {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  max-width: 1440px;
  margin: auto auto 2rem;
  padding: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 342px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Poppins;
}
.products p {
  font-size: 1rem;
}

.header {
  padding: 0 1rem;
  max-width: 1440px;
  font-family: Poppins;
  font-weight: 600;
  margin: 1rem auto;
}

/* Large screens */
@media screen and (max-width: 1345px) and (min-width: 1028px) {
  .products {
    font-size: 20px;
  }
}
/* Small screens*/
@media screen and (max-width: 687px) {
  .products {
    font-size: 17px;
  }
  .products {
    padding: 1rem 0.75rem;
  }
}