.products {
  display: grid;
  gap: 2.5rem 1.5rem;
  max-width: 1314px;
  // width: -webkit-fill-available;
  margin: auto auto 2rem;
  padding: 1rem;
  justify-items: center;
  justify-content: center;
  font-family: Poppins;
  p {
    font-size: 1rem;
  }
}
.header {
  padding: 0 1rem;
  max-width: 1314px;
  font-family: Poppins;
  font-weight: 600;
  margin: 1rem auto;
}

/* Large screens: 4 columns */
@media screen and (min-width: 1346px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Large screens: 3 columns */
@media screen and (max-width: 1345px) and (min-width: 1028px) {
  .products {
    grid-template-columns: repeat(3, 316px);
    font-size: 20px;
  }
}

/* Medium screens: 2 columns */
@media screen and (max-width: 1027px) and (min-width: 688px) {
  .products {
    grid-template-columns: repeat(2, 316px);
  }
}

/* Small screens: 1 column */
@media screen and (max-width: 687px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
    font-size: 17px;
  }
  .products {
    padding: 1rem 0.75rem;
  }
  // .header {
  //   padding: 0 0.5rem;
  // }
}
