@import "../product.scss";
.colorButtons {
  max-width: 300px;
  .button {
    width: 1rem;
    height: 1rem;
  }
}
.productTile {
  width: fit-content;
  max-width: 300px;
  // height: fit-content;
  justify-content: space-between;
  // padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: Poppins;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  transition-duration: 150ms;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: -1rem;
  padding: 1rem;
  &:hover {
    // box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 1.25rem;
    margin: -1.25rem;
  }
}
.productDetails {
  flex: 1 1 0%;

  .productName {
    font-size: 12pt;
    color: #000000;
    font-weight: 500;
    line-height: 1.25;
  }
}

.productImagecontainer {
  // box-shadow: rgb(245, 245, 245) 0px 0px 60px 24px inset;
  inset: 0px;
  mix-blend-mode: darken;
  border-radius: 0.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-basis: 40%;
  max-width: 300px; /* Caps width at 300px */
  max-height: 300px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  p {
    padding: 0 0.5rem;
    text-align: center;
  }
}
.productImage {
  width: 100%; /* Scales to container width */
  max-width: 300px; /* Caps width at 300px */
  max-height: 300px;
  min-height: 120px;
  height: 100%; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures image fills container without stretching */
  aspect-ratio: 1 / 1;
}
@media screen and (max-width: 768px) {
  .colorButtons {
    max-width: 287px;
    .button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .remainingIndicator {
    font-size: 14px;
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .productTile {
    // flex-direction: row;
    max-width: none;
    width: -webkit-fill-available;
    // gap: 0.75rem;
    margin: 0;
    padding: 1rem;
    // &:hover {
    //   box-shadow: none;
    // }
  }
  .productTile:hover {
    margin: 0;
    padding: 1rem;
  }
  .productDetails {
    width: 60%;
  }
}
