.colorButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}
.colorButtons .button {
  padding: 0;
  border-radius: 25%;
}
.colorButtons .button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 2px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 2px;
  cursor: pointer;
}

.remainingIndicator {
  font-size: 13px;
  font-family: "Sharp Sans", Helvetica, Arial, "Trebuchet MS", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
}

.coral {
  background-color: #f27069;
}

.red {
  background-color: #d42027;
}

.maroon {
  background-color: maroon;
}

.orange {
  background-color: #ff6600;
}

.yellow {
  background-color: #ffd23c;
}

.green {
  background-color: #009a22;
}

.teal {
  background-color: #9ad1c5;
}

.lightblue {
  background-color: #9ccad2;
}

.blue {
  background-color: blue;
}

.royalblue {
  background-color: #3961a1;
}

.navyblue {
  background-color: #3f3e55;
}

.lightpurple {
  background-color: #e397c1;
}

.purple {
  background-color: #4c4178;
}

.pink {
  background-color: #f27fae;
}

.white {
  background-color: #fff;
  border: 1px solid rgb(227, 227, 227);
  mix-blend-mode: darken;
  margin: 0 -1px;
}

.stainlesssteel,
.brushedsilver {
  background-color: darkgray;
}

.silver {
  background-color: silver;
}

.darkgray {
  background-color: #7a7a7a;
}

.black,
.matteblack {
  background-color: black;
}

.gray {
  background-color: gray;
}

.olivegreen {
  background-color: #6d744b;
}

.brown {
  background-color: brown;
}

.colorButtons {
  max-width: 300px;
}
.colorButtons .button {
  width: 1rem;
  height: 1rem;
}

.productTile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  font-family: Poppins;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: -1rem;
  padding: 1rem;
}
.productTile:hover {
  -webkit-box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 1.25rem;
  margin: -1.25rem;
}

.productDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}
.productDetails .productName {
  font-size: 12pt;
  color: #000000;
  font-weight: 500;
  line-height: 1.25;
}

.productImagecontainer {
  inset: 0px;
  mix-blend-mode: darken;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 300px; /* Caps width at 300px */
  max-height: 300px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productImagecontainer p {
  padding: 0 0.5rem;
  text-align: center;
}

.productImage {
  width: 100%; /* Scales to container width */
  max-width: 300px; /* Caps width at 300px */
  max-height: 300px;
  min-height: 120px;
  height: 100%; /* Maintains aspect ratio */
  -o-object-fit: cover;
     object-fit: cover; /* Ensures image fills container without stretching */
  aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
  .colorButtons {
    max-width: 287px;
  }
  .colorButtons .button {
    width: 1.5rem;
    height: 1.5rem;
  }
  .remainingIndicator {
    font-size: 14px;
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .productTile {
    max-width: none;
    width: -webkit-fill-available;
    margin: 0;
    padding: 1rem;
  }
  .productTile:hover {
    margin: 0;
    padding: 1rem;
  }
  .productDetails {
    width: 60%;
  }
}