.materialInfo {
  max-width: 1314px;
  margin: auto auto 2rem;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Poppins;
}
.materialInfo p {
  font-size: 1rem;
}

.header {
  padding: 0 1rem;
  max-width: 1314px;
  font-family: Poppins;
  font-weight: 600;
  margin: 1rem auto;
}