.productInfo {
  display: grid;
  max-width: 1314px;
  // width: -webkit-fill-available;
  margin: auto auto 2rem;
  //   padding: 1rem;
  justify-items: center;
  justify-content: center;
  font-family: Poppins;
  p {
    font-size: 1rem;
  }
}
.header {
  padding: 0 1rem;
  max-width: 1314px;
  font-family: Poppins;
  font-weight: 600;
  margin: 1rem auto;
}
